.auth {
    margin: 0 auto;
    height: 100%;
    background-color: #00e8ff;
}

.header {
    text-align: center;
    padding: 40px;
}

form {
    width: 30rem;
    margin: 0 auto;
}

@media (max-width: 750px) {
    form {
        width: 50%;
    }
}

@media (max-width: 500px) {
    form {
        width: 80%;
    }
}
